################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/output
/bin
/compile_env/vs/.vs/msvc/v17
